@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #505962;
}


/*--- Navigation ---*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
    height: 2rem;
}


/*================ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media querysince this is thedefault in Bootstrap

Small (sm) devices (tablets, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desctops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desctops, 1200px and up)
@media (min-width: 1200px) { ... }

============*/